html {

}

body {
  background-color: #fefefe;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

#border {
  z-index: +1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.black {
  z-index: +2;
  background-color: #000;
}

img {
  object-fit: cover;
}

.map {

}

.text {
  box-sizing: border-box;
  background-color: #fefefe;
}

h1 {
  height: auto;
  padding: 0;
  font-family: Helvetica;
  color: #0000ff;
  position: relative;
  font-weight: bold;
}

p {
  height: auto;
  padding: 0;
  font-family: Helvetica;
  color: #000;
}

.underlined {
  border-bottom: 2px solid #0000ff;
  padding: 1px 1px 1px 1px;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  background-color: #0000ff;
  color: #fefefe;
}

/*
* small DEVICES
*/
@media (max-width: 768px) {
  section {

  }

  #border {
    border: 6px solid #0000ff;
  }

  img {
    width: 82vw;
    height: auto;
    margin-left: 9vw;
    margin-right: 9vw;
    margin-top: 30px;
    border-bottom: 30px solid #000;
  }

  .map {
    height: 90vh;
    width: 82vw;
    margin-left: 9vw;
    margin-right: 9vw;
    margin-top: 5vh;
  }

  .text {
    position: relative;
    top: 15px;
    left: 9vw;
    width: 91vw;
    height: auto;
  }

  h1 {
    margin-right: 6vw;
    margin-top: 90px;
    font-size: 36px;
    letter-spacing: .09em;
    line-height: 1.3em;
  }

  p {
    margin-right: 18vw;
    margin-top: 15px;
    font-size: 12px;
    letter-spacing: .15em;
    line-height: 2.5em;
  }
}

/*
* LARGE DEVICES
*/
@media (min-width: 769px) {
  section {

  }

  #border {
    border: 0px solid #0000ff;
  }

  img {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .map {
    width: 100vw;
    height: 60vh;
    margin-top: 20vh;
  }

  .text {
    position: relative;
    padding: 0 30px 3px 30px;
    left: 33vw;
    width: 67vw;
    border-left: 18px solid #0000ff;
  }

  h1 {
    margin-right: 9vw;
    margin-top: 120px;
    font-size: 48px;
    letter-spacing: .12em;
    line-height: .96em;
  }

  p {
    margin-right: 9vw;
    margin-top: 30px;
    font-size: 15px;
    letter-spacing: .09em;
    line-height: 2.5em;
  }
}
