html {

}

body {
  background-color: #fefefe;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.dark {
  z-index: +2;
  background-color: #000;
}

img {
  object-fit: cover;
}

.map {

}

.text15, .text30, .text45, .text60 {
  position: relative;
  box-sizing: border-box;
  background-color: #fefefe;
  height: auto;
}

h1 {
  height: auto;
  padding: 0;
  font-family: Helvetica;
  color: #0000ff;
  position: relative;
  font-weight: bold;
}

p {
  height: auto;
  padding: 0;
  font-family: Helvetica;
  color: #000;
}

.underlined {
  border-bottom: 2px solid #0000ff;
  padding: 1px 1px 1px 1px;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  background-color: #0000ff;
  color: #fefefe;
}

/*
* S
* S
* S
* S
* Small DEVICES
* S
* S
* S
* S
*/
@media (max-width: 768px) {
  section {

  }

  .imageLeft, .imageRight {
    width: 82vw;
    height: 82vw;
    margin-left: 9vw;
    margin-right: 9vw;
    margin-top: 30px;
  }

  .imageFull {
    position: absolute;
    top: 50vh;
    left: 0;
    transform: translate(0, -50%);
    width: 100vw;
    height: auto;
  }

  .imageLeft {
    display: inline;

  }

  .imageRight {
    display: inline;

  }

  .map {
    height: 90vh;
    width: 82vw;
    margin-left: 9vw;
    margin-right: 9vw;
    margin-top: 5vh;
  }
  .text15, .text30, .text45, .text60 {
    top: 15px;
    left: 9vw;
    width: 91vw;
  }

  h1 {
    margin-right: 6vw;
    margin-top: 90px;
    font-size: 36px;
    letter-spacing: 0em;
    line-height: 1.3em;
  }

  p {
    margin-right: 18vw;
    margin-top: 15px;
    font-size: 12px;
    letter-spacing: .15em;
    line-height: 2.5em;
  }
}

/*
* L
* L
* L
* L
* Large DEVICES
* L
* L
* L
* L
*/
@media (min-width: 769px) {
  section {

  }

  img {
    z-index: -1;
  }

  .imageFull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .imageLeft {
    position: absolute;
    left: 9vw;
    top: 0;
    width: 48vw;
    height: 90vh;
  }

  .imageRight {
    display: inline;
    position: absolute;
    right: 9vw;
    top: 0;
    width: 36vw;
    height: 90vh;
  }

  .map {
    width: 100vw;
    height: 60vh;
    margin-top: 20vh;
  }

  .text15, .text30, .text45, .text60 {
    padding: 0 0 0 30px;
  }
    .text15 {
      left: 15vw;
      width: 40vw;
    }
    .text30 {
      left: 30vw;
      width: 70vw;
    }
    .text45 {
      left: 45vw;
      width: 55vw;
    }
    .text60 {
      left: 60vw;
      width: 40vw;
    }

  .leftBorder {
    border-left: 15px solid #0000ff;
  }

  .rightBorder {
    text-align: right;
    border-right: 15px solid #0000ff;
  }

  h1 {
    margin-right: 9vw;
    font-size: 48px;
    letter-spacing: 0em;
    line-height: .96em;
  }

  p {
    margin-right: 9vw;
    margin-top: 30px;
    font-size: 15px;
    letter-spacing: .09em;
    line-height: 2.5em;
  }
}
