/* COLOR REFERENCE
* blue: #0000ff
* white: #f4f4f4
* black: #000000
*/

@font-face {
  font-family: "Mission Gothic";
  src: url("style/fonts/Mission-Gothic-Black.otf") format("otf");
}

@font-face {
  font-family: "Andale Mono";
  src: url("style/fonts/Andale-Mono.ttf") format("ttf");
}

html {

}

body {
  background-color: #000;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#logo {
  object-fit: contain;
  object-position: left;
  height: 66%;
  width: auto;
  flex: 1 50%;
  margin-left: 12px;
}

#ocean {
  z-index: 0;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #0000ff;
}

#island {
  position: fixed;
  top: 0;
  z-index: -1;
}

section {
  display: flex;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.icon {
  box-sizing: content-box;
  object-fit: cover;
  object-position: center;
  padding: 30px;
}

.icon:hover {

}

.imageWrapper {
  flex: 1 50%;
  height: auto;
}

img, video {
  box-sizing: border-box;
}

.imageCaption {
  box-sizing: border-box;
  background-color: #000;
  font-family: "Mission Gothic";
  padding: 6px;
}

.textWrapper {
  display: flex;
  flex: 0 50%;
  flex-direction: column;
}

h1 {
  font-family: "Mission Gothic";
  color: #f4f4f4;
  filter: drop-shadow(3px 3px 0px #0000ff);
  text-align: center;
  text-transform: uppercase;
}

#subtitle {
  font-family: "Andale Mono";
  font-size: 18px;
  text-align: center;
  border-top: 3px solid #f4f4f4;
}

p {
  color: #f4f4f4;
  font-family: "Andale Mono";
}

.textLeft {
  flex: 0 50%;
  height: auto;
  text-align: left;
  padding: 3px 0 3px 0;
}

.textRight {
  flex: 0 50%;
  height: auto;
  text-align: right;
  padding: 3px 0 3px 0;
}

.textCenter {
  flex: 0 100%;
  height: auto;
  text-align: center;
  padding: 3px 0 3px 0;
}

.captionLeft {
  text-align: left;
}

.captionRight {
  text-align: right;
}

.borderLeft {
  padding-left: 12px;
  border-left: 3px solid #0000ff;
  box-shadow: -30px 0 #000;
}

.borderRight {
  padding-right: 12px;
  border-right: 3px solid #0000ff;
  box-shadow: 30px 0 #000;
}

.highlighted {
  background-color: #0000ff;
  padding: 3px 0 3px 0;
}

.underlined {
  border-bottom: 3px solid #0000ff;
  padding: 3px;
}

a {
  color: #f4f4f4;
  text-decoration: none;
}
a:hover {
  color: #0000ff;
}

/*
* S
* S
* S
* S
* Small DEVICES
* S
* S
* S
* S
*/
@media (max-width: 768px) {
  #island {
    height: 100vh;
    object-fit: cover;
  }

  section {
    flex-direction: column;
  }

  .icon {
    width: 12vw;
  }

  .imageWrapper {
    padding: 12px 12px 0 12px;
  }

  img, video {
    width: 100%;
    height: auto;
    order: 0;
  }

  h1 {
    font-size: 60px;
    letter-spacing: -0.03em;
    line-height: 0.9em;
  }

  #title {
    width: 66%;
  }

  .bigText {
    line-height: 3.6em;
    font-size: 150px;
    display: block;
  }

  p {
    font-size: 14px;
    letter-spacing: .15em;
    line-height: 2em;
  }

  .imageCaption {
    font-size: 18px;
  }

  .textLeft {
    order: 1;
    margin-right: 60px;
    margin-left: 12px;
  }

  .textRight {
    margin-right: 12px;
    margin-left: 60px;
  }

  .textCenter {
    flex-grow: 0;
  }

  a:hover {

  }
}

/*
* L
* L
* L
* L
* Large DEVICES
* L
* L
* L
* L
*/
@media (min-width: 769px) {
  #island {
    height: 120vh;
    object-fit: cover;
    object-position: right;
  }

  section {
    flex-flow: row nowrap;
  }

  .icon {
    width: 12vh;
    display: block;
  }

  .icon:hover {

  }

  .imageWrapper {
    padding: 0 30px 0 30px;
  }

  img, video {
    width: 100%;
    height: auto;
  }

  h1 {
    font-size: 120px;
    letter-spacing: -0.03em;
    line-height: 1em;
  }

  #title {
    width: 50%;
    margin-right: 30%;
    margin-left: 12px;
  }

  #subtitle {

  }

  .bigText {
    font-size: 150px;
  }

  p {
    font-size: 18px;
    letter-spacing: .09em;
    line-height: 1.75em;
  }

  .imageCaption {
    font-size: 30px;
  }

  .textLeft {
    margin-right: 15px;
    margin-left: 30px;
  }

  .textRight {
    margin-right: 30px;
    margin-left: 15px;
  }
}
